%html
  %head
    %title= "GTS server on #{request.host}"
    %link{:href => "/css/main", :rel => "stylesheet", :type => "text/css"}/     
  %body
    %h3= "GTS server on #{request.host}"
    %p= "Welcome to the First main release of a GTS (Global Trade System) Server that integrates with Facebook"
    %p= "Instructions are coming soon: however at the moment you can log in and look at existing pokemon that have been uploaded by other users."
    %br 
    %p= "Pokemon held on Server: " + Monster.all(:trainer_id.gt => 2).count.to_s
    %p= "Pokemon waiting to be deployed: " + Monster.all(:queue=> true).count.to_s
    %p= "Trainers on Server: " + Trainer.all(:id.not=>1,:reg=>true).count.to_s
    %p= "Users Registered on Server: " + User.all(:id.gt=>2).count.to_s
    %h3= "Latest Registered Trainers"
    - Trainer.all(:id.gt=>1,:reg=>true).reverse.last(5).each do |user|
      %a{:href=>user.profile}= user.name
      %br      
    %h3= "Latest Registered User Accounts"
    - User.all(:id.gt=>2).reverse.last(5).each do |user|
      %a{:href=>"http://www.facebook.com/profile.php?id="+user.fbid.to_s}= user.name
      %br  
    %h3= "Latest Uploaded Pokemon"
    - Monster.all(:trainer_id.gt => 2).reverse.each do |pokemon|
      - if pokemon.trainer.reg
        %a{:href=>pokemon.profile}= "#{pokemon.structure.nickname} the LV.#{pokemon.structure.level} #{pokemon.structure.nature.name} #{pokemon.structure.name}"
        %br
  #new_post
    = haml :main_menu
 
