%html
  %head
    %title= "GTS server on #{`hostname`}"
    %link{:href => "/css/main", :rel => "stylesheet", :type => "text/css"}/     
  %body
    %p= "Pokemon held on Server: " + Monster.count.to_s
    %p= "Trainers on Server: " + Trainer.count.to_s
  #new_post
    - if auth?
      %a{:href => "/trainer/#{@trainer.tid}/profile"} Profile    
      %a{:href => "/trainer/logout"} Logout   
    - else 
      %a{:href => "/trainer/login"} Login
 
