%html
  %head
    %title= @pkm.structure.nickname
    %link{:href => "/css/main", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/ui-darkness/jquery-ui-1.8.2.custom.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src=> "http://code.jquery.com/jquery-latest.min.js"}
    %script{:src=> "http://gts.daedulus.net/js/jquery-ui-1.8.2.custom.min.js"}
    %script{:src=> "http://gts.daedulus.net/js/test.js"}
    :javascript
      function update_stat(name,value){
        $.post("/system/pokemon/"+$(".pokemon").attr("id")+"/edit",{m: name, v: value}, function(data){
          alert(data);
        });
        }
      function update_ev(number,value){
        $.post("/system/pokemon/"+$(".pokemon").attr("id")+"/ev",{n: number, v: value}, function(data){
          $("p.evt").text(data);
          if (data > 510){
              $("p.evt").css("background","red");
            } else {
              $("p.evt").css("background","green");
            };
        });
      };
      function update_iv(number,value){
        $.post("/system/pokemon/"+$(".pokemon").attr("id")+"/iv",{n: number, v: value}, function(data){
          $("p.ivt").text(data);
          if (data > 186){
              $("p.ivt").css("background","red");
            } else {
              $("p.ivt").css("background","green");
            };
        });
        }
  %body
    %h1= @pkm.structure.nickname
    .pokemon{:id=>@pkm.id}
      - poke = @pkm.structure
      .header
        %p.attr#dex.alt= "##{poke.dex}"
        %input.pid.attr{:value=>poke.pid, :onchange=>"update_stat('pid',$(this).val());"}
        %img#picon{:src=>GTS.url+poke.image}
        %input.attr#name.alt{:value=>poke.nickname,:onchange=>"update_stat('nickname',$(this).val());"}
        %p= poke.trainer
        %input.attr#exp.alt{:value=>poke.exp, :onchange=>"update_stat('exp',$(this).val());"}
        %p.level= poke.level
        %p.sex= "#{poke.sex}"
        %p.alt= poke.nature.name
        %input#pokemon.attr{:value=>poke.name}
        %input#item.alt{:value=>poke.helditem}
      .body        
        - ivs = poke.ivs
        - evs = poke.evs
        .colh
          %p.alt.subh Stat
          %p.alt HP
          %p Attack
          %p.alt Defence
          %p Special Attack
          %p.alt Special Defence
          %p Speed
          %p.alt Total
        .stat
          %p.alt.subh IVs
          - ivs.size.times do |i|
            - if i.even?
              %input.iv.attr.alt{:id=>"#{i}",:value=>ivs[i], :onchange=>"update_iv(#{i},$(this).val());"}
            - else
              %input.iv.attr{:id=>"#{i}",:value=>ivs[i], :onchange=>"update_iv(#{i},$(this).val());"}
            %br
          %p.ivt.alt= "#{ivs[0] + ivs[1] + ivs[2] + ivs[3] + ivs[4] + ivs[5]}"
        .stat
          %p.alt.subh EVs
          - evs.size.times do |i|
            - if i.even?
              %input.ev.attr.alt{:id=>"#{i}",:value=>evs[i],:onchange=>"update_ev(#{i},$(this).val());"}
            - else
              %input.ev.attr{:id=>"#{i}",:value=>evs[i],:onchange=>"update_ev(#{i},$(this).val());"}
            %br
          %p.evt.alt= "#{evs[0] + evs[1] + evs[2] + evs[3] + evs[4] + evs[5]}"
        .col
          %p.alt.subh Moves
          - poke.moves.size.times do |i|
            - move = Move.first(:id=>poke.moves[i])
            - move = move.name unless move.nil?
            - move = "None" if move.nil? 
            - if i.even?
              %input.move.attr.alt{:id=>"#{i}",:value=>move}
            - else
              %input.move.attr{:id=>"#{i}",:value=>move}
            %br
    %br
    #new_post
      - if @pkm.trainer.id == @trainer.id
        %a{:href=>"/trainer/#{@pkm.trainer.id}/pokemon/#{@pkm.id}/give"} Give
        %a{:href=>"/trainer/#{@pkm.trainer.id}/pokemon/#{@pkm.id}/offer"} Offer
        |
        %a{:href=>"/trainer/#{@pkm.trainer.id}/pokemon/#{@pkm.id}/send"} Send
        %a{:href=>"/trainer/#{@pkm.trainer.id}/pokemon/#{@pkm.id}/delete"} Delete
        |
        %a{:href=>"/trainer/pokemon/#{@pkm.id}/download"} Download
        |
      = haml :main_menu
