%html
  %head
    %title= "GTS server on #{`hostname`}"
    %link{:href => "/css/main", :rel => "stylesheet", :type => "text/css"}/     
  %body
    - @profile.monsters.each do |pokemon|
      %a{:href => "/trainer/#{@profile.tid}/pokemon/#{pokemon.id}"}= pokemon.structure.nickname
      - if pokemon.queue
        = "| Pending"
      - else
        = "| Sent"
      %br
  #new_post
    - if auth?   
      %a{:href => "/trainer/pokemon/upload"} Upload
      %a{:href => "/trainer/logout"} Logout   
    - else 
      %a{:href => "/trainer/login"} Login
