%html
  %head
    %title= "GTS server on #{GTS.url}"
    %link{:href => "/css/main", :rel => "stylesheet", :type => "text/css"}/     
  %body
    %h3= "Belongs to: #{@trainer.user.name}"
    - @trainer.monsters.each do |pokemon|
      %a{:href => "/trainer/#{@trainer.id}/pokemon/#{pokemon.id}"}= "#{pokemon.structure.nickname} the LV.#{pokemon.structure.level} #{pokemon.structure.nature.name} #{pokemon.structure.name}"
      - if pokemon.queue
        = "| Pending"
      - else
        = "| Sent"
      %br
  #new_post
    = haml :main_menu
